<h2>UNLI TravelPlanner Privacy Statement</h2>
<p>2019 January 11th<br><br data-cke-filler="true"></p>
<p>UNLI TravelPlanner (the “Product”) is a trip-related information Product, available from UNLI Ltd. (the “Company”),
  online through our website at travel.UNLI.xyz. UNLI TravelPlanner provides users with the ability to integrate all of
  their trip-related information into one location, share information regarding their trips, and receive valuable
  information and deals related to their trips.<br><br data-cke-filler="true"></p>
<h3>Introduction<br><br data-cke-filler="true"></h3>
<p>We respect your privacy and are committed to protecting it. Please take a moment to familiarize yourself with our
  privacy practices. You agree to our privacy practices as set out in this privacy statement.<br><br data-cke-filler="true"></p>
<p>This statement describes the information that the Product collects and how that information may be used by us. This
  statement does not apply to information we collect through any means other than the Product, actions that you may
  take as a user to share your information or to information collected on any other Company or third-party site that
  may link to or be accessible from the Product. We encourage you to learn about the privacy practices of those third
  parties through which you share your information or which are accessible from the Product.<br><br data-cke-filler="true"></p>
<p>Our servers and data centers for the Product are located in the U.S. We may also subcontract processing to or share
  your personal information with third parties located in countries other than your home country. If you are accessing
  the Product from outside the U.S., you agree that your personal information may be transferred to the U.S. or another
  country, which may have different privacy and data security protections than those of your own jurisdiction, to be
  processed and stored. We may transfer your data to countries or organizations that have not been found by the
  European Commission to provide adequate protection, including the United States. For any such transfers initiated by
  Company, Company takes necessary measures to ensure that your personal information is subject to the required
  adequate level of protection (including, for example, through use of standard contractual clauses approved by the
  European Commission). You expressly consent to your personal information being used as set out in this paragraph.<br>
</p>
<p>This Privacy Statement does not apply to any travel supplier, such as an airline, car rental company or hotel. This
  Privacy Statement does not apply to any individual traveler’s employer or travel agency that obtains any related
  Products from UNLI TravelPlanner. We recommend that you review the privacy policies of your travel agency and of
  relevant travel suppliers.<br><br data-cke-filler="true"></p>
<p>This Privacy Statement does not apply to information which does not permit identification of an individual. You may
  choose not to provide certain information to us but doing so may restrict your ability to use our Products.<br>
</p>
<h3>Collection of Personal Information<br><br data-cke-filler="true"></h3>
<p>Personal information is any information used or intended to be used to identify a particular individual, which
  includes name, address, telephone number, email address, financial account number, and government-issued identifier.
  We collect several types of information from and about users of the Product, including:<br><br data-cke-filler="true"></p>
<p>Personal information and other information you provide to us when you register for or use the Product (including
  social media or interactive features of the Product), including to transact with us, or subscribe to content we
  offer. For example, we may collect information such as your first and last name, address (including street name and
  name of a city or town), email address, telephone number, and other identifiers that permit physical or online
  contact.</p>
<p>Automatically collected information from your devices in connection with your online activity (including, in some
  cases, specific location information or information that enables us to identify you across devices).</p>
<p>Information you provide outside this application to other companies (such as a travel agency, airline or other
  travel provider, hotel, loyalty program, etc.) that you associate with your UNLI TravelPlanner account, or which our
  clients direct we associate with your account. We may combine the information we gather, including in combination
  with information from third parties. For instance, when a user signs up for or in to UNLI TravelPlanner using a login
  feature through another company (like Facebook or Google’s login features), we receive information like the user’s
  email address and name.</p>
<p>Information included in any messaging you undertake through the Product, such as sharing of trip-related
  information.</p>
<p>If you contact us, information you provide to us that details the nature of your question or problem, and any other
  information you provide.<br><br data-cke-filler="true"></p>
<h3>Use of Information We Gather<br><br data-cke-filler="true"></h3>
<p>We may use the information we gather to operate UNLI TravelPlanner. For example, we use the information we gather in
  the following ways:<br><br data-cke-filler="true"></p>
<ul>
  <li>To provide and improve the Product and its contents for you and others;</li>
  <li>To provide you with information, products or Products that you request or otherwise elect to receive from us or
    from one of our strategic partners;</li>
  <li>To notify you about changes to the Product or important information regarding Company;</li>
  <li>To allow you to utilize the trip integration, sharing, and messaging features of the Product, if and when you
    choose to do so; and</li>
  <li>To provide you with e-mail or other messaging regarding additional products or Products you may be interested in,
    either from us or from one of our strategic partners, including promotional e-mails or messages.<br><br
      data-cke-filler="true"></li>
</ul>
<h3>Disclosure of Information to Third Parties<br><br data-cke-filler="true"></h3>
<p>Where permitted by you or applicable law, we may from time-to-time make certain information, including personal
  information, available to third parties, including strategic partners, that work with the Company such as the
  following:<br><br data-cke-filler="true"></p>
<ul>
  <li>Various affiliates and subsidiaries of the Company that support the Product or provide Product improvement;</li>
  <li>Third party Product providers supporting our business who provide Products such as information processing,
    managing and enhancing customer data, customer Product, assessing your interest in our products and Products, and
    conducting customer research or satisfaction surveys;</li>
  <li>Third party Product providers we partner with to provide you offers of additional products or Products based upon
    your trip-related information;</li>
  <li>Your employer or travel agency, or others who arrange travel on your behalf, with regard to those trips or
    portions of trips designated as business travel by you and as such, shared with your employer or travel agency via
    UNLI TravelPlanner; and A successor or affiliate in the event of merger, acquisition, or any form of corporate
    reorganization or sale of some or all of the Company’s assets, to whom we may transfer information, including
    personal information.<br><br data-cke-filler="true"></li>
</ul>
<h3>User Sharing via UNLI TravelPlanner<br><br data-cke-filler="true"></h3>
<p>UNLI TravelPlanner allows you, as a user, to take actions to share information regarding your trip with other UNLI
  TravelPlanner users, your mobile phone contacts, or via various social networking sites (e.g., Facebook, Twitter, and
  Instagram). The sharing process enables you to share a particular item of content, on an individual basis, to these
  third party Products or other UNLI TravelPlanner users by using the share functionality in the Product. Please note
  that sharing of such content on a third party Product may be posted as activity on the Product, regardless of your
  account settings. To share an individual item of content to a third party Product, you’ll be prompted to enter your
  access credentials for that third party Product. UNLI TravelPlanner may store your name, e-mail address, and an
  access token or similar credentials obtained from the third party Product so that you are able to share particular
  items of content on that third party Product, on an individual basis, without entering your access credentials again.<br>
</p>
<p>When you choose to allow others to follow your trip by allowing access to your contacts via your mobile phone, those
  chosen will be notified of your trip via e-mail and given the chance to set up their own UNLI TravelPlanner account,
  if they do not already have one of their own. Once they have set up their account, your trip will show up in that
  user’s “Following” section on UNLI TravelPlanner. Anyone who is following your trip will be able to see any changes
  to your itinerary (such as if your flight is delayed, etc.). If you choose to always share with another UNLI
  TravelPlanner user, they will be notified of every trip and its details until you remove them from that feature.<br>
</p>
<p>If you connect to the Product using credentials of a third party Social Networking Site (“SNS”) such as Facebook or
  Twitter, you authorize us to collect your authentication information, such as your name, e-mail address, and
  encrypted access credentials. We may store this information so that it can be used for the purposes explained in this
  statement, and it may also be used to verify your credentials with the SNS. The information available to UNLI
  TravelPlanner from an SNS is affected by the privacy settings you establish at the SNS. You understand and agree that
  an SNS’s use of information they collect from you is governed by their privacy policies, and UNLI TravelPlanner’s use
  of such information is governed by this privacy statement.<br><br data-cke-filler="true"></p>
<p>If you connect to any third-party site other than an SNS using the credentials of your UNLI TravelPlanner account
  for data sharing with that third party, you authorize the collection of your authentication information, such as your
  name, e-mail address, and encrypted access credentials, as well as any other personal information that third party
  site may choose to access. You do so at your own risk and understand and agree that the third party’s collection of
  such information is governed by their privacy policies, and UNLI TravelPlanner’s use of such information is governed
  by this privacy statement.<br><br data-cke-filler="true"></p>
<p>We may also disclose your personal information to third parties:</p>
<ul>
  <li>To comply with law (including cooperation with regulators or officials), legal process or legal advice;</li>
  <li>To enforce or apply our terms of use and any other agreements;</li>
  <li>To protect the rights, property, or safety of the Company, our customers, or others. This may include exchanging
    information with other companies and organizations for the purposes of fraud protection and credit risk reduction;</li>
  <li>If you expressly opt in to such sharing.<br><br data-cke-filler="true"></li>
</ul>
<h3>Location-Based Products<br><br data-cke-filler="true"></h3>
<p>To provide location-based products and Products to mobile application users of the Product, the Company or our
  partners may collect and use precise location data, such as the real-time geographic location of your device.<br>
</p>
<p>UNLI TravelPlanner also utilizes your location information in order to allow you to add information regarding your
  trip (e.g., a particular venue) to your UNLI TravelPlanner itinerary for future reference by you or for viewing by
  those UNLI TravelPlanner users that are following that particular trip, including your employer and travel agency
  should you designate your trip as business-related.<br><br data-cke-filler="true"></p>
<h3>Cookies and Other Technologies for Use of the Products<br><br data-cke-filler="true"></h3>
<p>The UNLI TravelPlanner website, mobile application, email messages, and advertisements may use cookies and other
  similar technologies, such as pixel tags and web beacons. These technologies permit us and others to monitor online
  behavior and collect data about the viewing of that page. Other versions of these technologies may also collect
  information regarding your internet protocol address and type of browser, the type of operating system you are using,
  the domain name of your Internet Product provider, the web pages you have visited, location information, and the type
  of mobile device and provider used to utilize the Product, as well as the advertisements and tools you may have
  accessed via UNLI TravelPlanner. Access to the information available through these technologies will also be provided
  to our third party providers, advertisers, advertising networks and platforms, agencies and partners through these
  technologies. These technologies help us to improve and to deliver a better and more personalized Product by enabling
  us to:<br><br data-cke-filler="true"></p>
<ul>
  <li>Estimate our audience size and usage patterns;</li>
  <li>Store information about your preferences, allowing us to customize the Product according to your individual
    interests;</li>
  <li>Speed up your searches; and</li>
  <li>Recognize you when you return to the Product’s online website.<br><br data-cke-filler="true"></li>
</ul>
<p>You may refuse to accept cookies by activating the appropriate settings on your browser. Check your browser help
  documentation to find out how to disable cookies. For further details about how we utilize cookies and how to
  deactivate cookies, please see our Cookies Page. Please note that certain features of the Product will not be
  available once cookies are disabled. We and others may collect personal information about your online activities over
  time and across different Web sites. We currently do not respond to “do not track” browser headers with respect to
  the Product.<br><br data-cke-filler="true"></p>
<p>Besides Cookies, we may use other technologies, such as web logs, scripts, or other applications that recognize your
  computer and gather information, such as your internet protocol address and type of browser, the type of operating
  system you are using, the domain name of your Internet Product provider, the UNLI TravelPlanner web pages you have
  visited, and the type of mobile device and provider used to utilize the Product. We may use this information to
  manage our websites and online Products, including to provide you appropriate and better Product. We and others may
  collect personal information about your online activities over time and across different Web sites.<br>
</p>
<h3>Online Behavioral Advertising<br><br data-cke-filler="true"></h3>
<p>We, our third party Product providers, advertisers, advertising networks and platforms, agencies, and partners may
  also use cookies, pixels, web beacons and other technologies to collect various types of information for purpose of
  online behavioral advertising. A representative list of the types of information collected may include the following:
  trip start and end dates, airline departure and return dates, booking date, origin and destination, class of airline
  Product, hotel check-in and check-out dates, hotel name, hotel city, hotel country, car rental company and dates, and
  similar information.<br><br data-cke-filler="true"></p>
<p>You may be able to remove yourself from the targeted advertising of companies within the Network Advertising
  Initiative by opting out here, or of companies participating in the Digital Advertising Alliance program by opting
  out here. Note that you will still receive advertising even after opting out but such advertising may be less
  targeted to your interests and preferences.<br><br data-cke-filler="true"></p>
<h3>Accessing Your Personal Information<br><br data-cke-filler="true"></h3>
<p>You may access, correct or delete your contact information and preferences through your UNLI TravelPlanner account.
  For other personal information, when UNLI TravelPlanner is the controller of the data and receives it directly from
  you, rather than from your employer or another company, we make good faith efforts to provide you with access so you
  can request that we correct the data if it is inaccurate or delete the data if the Company is not required to retain
  it by law or for legitimate business purposes. If you receive UNLI TravelPlanner Products through your employer or
  from another company, you will need to contact the company which is the controller of your data with such a request.
  In such a case, UNLI TravelPlanner would be the processor of the data on behalf of that company, who is the
  controller, an UNLI TravelPlanner would follow the instructions of the controller. We may decline to process requests
  that are unreasonably repetitive, require disproportionate technical effort, jeopardize the privacy of others, are
  impractical, or for which access is not otherwise required by local law.<br><br data-cke-filler="true"></p>
<h3>Data Security<br><br data-cke-filler="true"></h3>
<p>We have implemented reasonable measures designed to secure your personal information from accidental loss and from
  unauthorized access, use, alteration and disclosure.<br><br data-cke-filler="true"></p>
<p>The safety and security of your information also depends on you. Any content, including personal information, that
  you contribute to be shared, published or displayed on the Product, or transmitted to other users of the Product,
  either via the Product or via social networking or other third party sites available through the Product, is visible
  to other users and can be read, collected, or used by them. We urge you to be careful about giving out information in
  public areas of the Product. You understand and acknowledge that, even after removal, copies of your content,
  including personal information, that you contribute to be shared, published or displayed on the Product, or
  transmitted to other users of the Product, may remain viewable in cached and archived pages, or might have been
  copied or stored by other users. Although we take efforts to protect your personal information, we cannot guarantee
  the security of your personal information transmitted to the Product. Any transmission of personal information is at
  your own risk.<br><br data-cke-filler="true"></p>
<h3>Children Under the Age of 16<br><br data-cke-filler="true"></h3>
<p>The Product is not intended for children under 16 years of age. We do not knowingly collect personal information
  from children under age 16. In the event that we learn that we have collected personal information from a child under
  age 16 without verification of parental consent, we will take steps to delete that personal information as soon as
  possible.<br><br data-cke-filler="true"></p>
<h3>Changes to Our Privacy Statement<br><br data-cke-filler="true"></h3>
<p>It is our policy to post any changes we make to our privacy practices on this page. The date the privacy statement
  was last revised is identified at the top of the privacy statement.<br><br data-cke-filler="true"></p>
<h3>Contact Information<br><br data-cke-filler="true"></h3>
<p>Please direct any questions or comments about this privacy statement and our privacy practices to us at:<br>
</p>
<p>privacy@unli.xyz; or</p>
<p>UNLI Ltd., PO Box 39, Spring City, UT 84662 Attn: Privacy Office.<br><br data-cke-filler="true"></p>
<h4>Your California Privacy Rights<br><br data-cke-filler="true"></h4>
<p>California law permits users of our Products that are California residents to request certain information regarding
  our disclosure of personal information to third parties for their direct marketing purposes. To make such a request,
  California residents should send an e-mail to privacy@unli.xyz or write us at: UNLI Ltd., PO Box 39, Spring City, UT
  84662 Attn: Privacy Office.<br><br data-cke-filler="true"></p>
<h4>EU-Specific Notice<br><br data-cke-filler="true"></h4>
<p>These terms apply to personal information collected by Company through the Products if you are an EU resident. Where
  Company collects information directly from you through its Products, such personal information is controlled by UNLI
  Ltd., which is headquartered in the United States at PO Box 39, Spring City, UT 84662.<br><br data-cke-filler="true"></p>
<p>The legal basis for processing of your data includes the purposes set forth above in this Privacy Statement. In some
  cases, we may additionally process your information based on your consent.<br><br data-cke-filler="true"></p>
<p>Your personal information will not be stored for longer than necessary for the purposes for which they were
  collected, or in accordance with applicable law.<br><br data-cke-filler="true"></p>
<p>Subject to applicable law, you have (i) the right to access and request personal information controlled by Company,
  (ii) the right to request the transmission of the personal information you have provided to us to you or another
  company, (iii) the right to object to uses or disclosures of your personal information, (iv) the right to withdraw
  your consent in relation to our processing of your personal information based on your consent (however, such
  withdrawal of consent will not affect the lawfulness of processing based on consent before such withdrawal), (v) the
  right to request deletion of your personal information and (vi) the right to request that we restrict processing of
  your personal information.<br><br data-cke-filler="true"></p>
<p>You may exercise these rights free of charge unless the request is unfounded, excessive, or otherwise unreasonable,
  for instance, because it is repetitive. In some situations, we may refuse to act or may impose limitations on your
  rights, as permitted by law. Before Company is able to provide you with any information or correct any inaccuracies,
  we may ask you to verify your identity and/or provide other details to help us respond to your request. For the
  exercise of your rights, please contact Company’s Representative and/or Data Protection Officer at the location of
  your choice, below.<br><br data-cke-filler="true"></p>
<p>If you are dissatisfied, we ask that you contact us first to see if we can resolve the issue. However, if you are an
  individual in in Europe or certain other jurisdictions, you may have the right to lodge a complaint with an
  appropriate supervisory authority. The Company has identified the Information Commissioner’s Office (“ICO”) in the UK
  as its lead supervisory authority with respect to UNLI TravelPlanner. The ICO may be contacted at:
  https://ico.org.uk/.<br><br><br data-cke-filler="true"></p>
<p>Company’s Data Protection Officer can be contacted at:</p>
<p>privacy@unli.xyz or UNLI Ltd., PO Box 39, Spring City, UT 84662 Attn: Privacy Office.<br><br data-cke-filler="true"></p>
<p>Company’s Representative under the GDPR is UNLI Limited, and can be contacted at:</p>
<p>privacy@unli.xyz</p>